<script type="text/javascript" language="javascript" src="{{=URL('static','Chart.js-2.9.3/dist/Chart.bundle.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','Chart.js-2.9.3/dist/Chart.bundle.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','Chart.js-2.9.3/dist/Chart.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','Chart.js-2.9.3/dist/Chart.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','Chart.js-2.9.3/dist/utils.js')}}"></script>
<link rel="stylesheet" type="text/css"              href="{{=URL('static','Chart.js-2.9.3/dist/Chart.css')}}">
<link rel="stylesheet" type="text/css"              href="{{=URL('static','Chart.js-2.9.3/dist/Chart.min.css')}}">

<script type="text/javascript" language="javascript" src="{{=URL('static','apexcharts/react.production.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','apexcharts/react-dom.production.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','apexcharts/prop-types.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','apexcharts/browser.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','apexcharts/apexcharts.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static','apexcharts/react-apexcharts.iife.min.js')}}"></script>

<script type="text/javascript" language="javascript" src="{{=URL('static', 'amcharts4/core.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'amcharts4/charts.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'amcharts4/animated.js')}}"></script>
