  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'datatables/jquery.dataTables.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'datatables/buttons.dataTables.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'datatables/fixedColumns.dataTables.min.css')}}">
  <style type="text/css" class="init"></style>
  <!-- <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/jquery-3.5.1.js')}}"></script>-->
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/jquery.dataTables.min.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/dataTables.buttons.min.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/buttons.flash.min.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/jszip.min.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/pdfmake.min.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/vfs_fonts.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/buttons.html5.min.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/buttons.print.min.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/dataTables.fixedColumns.min.js')}}"></script>

